body {
  background-color: hsl(217, 54%, 11%);
}

.active{
  position: absolute;
}

.disabled{
  position: relative;
  opacity: 0;
}

.card:hover .disabled{
  opacity: 1;
  transition: 0.5s;
}

.card { 
  display: block;
  margin: 50px auto;
  background-color: hsl(216, 50%, 16%);
  width: 345px;
  height: 595px;
  border-radius: 20px;
}

.card h2:hover {
  color: #14FDFA;
  
}

.card:hover .icon {
  margin-top: -180px;
  margin-left: 150px;
  position: absolute;
  background-image: url("images/icon-view.svg");
  width: 50px;
  height: 50px;
}

.card img {
  border-radius: 10px;
  margin-left: 23px;
  margin-top: 23px;
  height: 300px;
  width: 300px;
 }

 .card img:hover {
  background-image: url(/images/);
 }

 .container {
  width: 300px;
  margin: 0 auto;
 }
 
 h2 {
  cursor: pointer;
  font-weight: 600;
  color: white;
  font-family: 'Outfit', sans-serif;  
}

.subtitle {
  color: #6D86A5;
  font-weight: 400;
  font-family: 'Outfit', sans-serif; 
}

.priceDay {
  margin-top: -30px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.priceDay .price {
  font-weight: 400;
  letter-spacing: 0.05rem;
  font-family: 'Outfit', sans-serif; 
  color: #14FDFA;
}
.priceDay img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-left: 0;
}

.divisor {
  margin: auto;
  height: 0.1em;
  width: 300px;
  background-color: white;
}

.priceDay .clock{  
  font-weight: 400;
  letter-spacing: 0.05rem;
  font-family: 'Outfit', sans-serif;
  color: #6D86A5;
}

.info {
  display: inline-flex;
}

.info img {
  margin-left: 0;
  height: 33px;
  width: 33px;
  border: 1px solid white;
  border-radius: 50%;
}

.info p {
  margin-top: 30px;
  margin-left: 20px;
  font-weight: 300;
  letter-spacing: 0.05rem;
  font-family: 'Outfit', sans-serif;
  color: #6D86A5;
}

.info p span{
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.info p span:hover{
  color: #14FDFA;
}


.attribution {
  font-family: 'Outfit', sans-serif;
  color: #6D86A5;
  font-size: 12px;
}

.attribution a {
  color: #14FDFA;
}

